@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<html>
    <head>
        <link rel="stylesheet" href="~/theme/css/styles.css" />
    </head>
    <body>
        <div class="container">

        </div>
    </body>
</html>